.sidebar {
    background-color: #98687e;
    width: 300px;
    height: inherit;
    text-align: center;
    height: 1500px;
    padding: 0%;
    border: 0px;
    margin: 0px;
}

.photo {
    background-color: aqua;
    padding: 100px;
}

.border {
    background-color: black;
    width: 310px;
}